.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin-top: 50px;
}

.input {
  padding: 10px 10px;
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 10px;
  width: 100%;
  transition: all 400ms ease-in-out;
}

.input:hover,
.input:focus {
  border: 1px solid var(--black);
}
